# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/.vscode
src/main/resources/assets/justdynathings/guides/justdynathings/guide/generated.lnk
/.demo
/generated
/src/generated/resources/.cache
desktop.ini
/src/test
/src/main/resources/fusion-ctm
